*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family:fantasy;
	background-color: #23496b;
}

h1{
	color: #0e0f0f;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

main{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

section{
	padding: 15px;
}

input{
	display: block;
	width: 100%;
	padding: 16px;
	border: none;
	outline: none;
	background: none;
	background-color: #f0f8ff;
	border-radius: 8px;
	color: #070808;
	font-size: 20px;
	font-weight: 300;
}

input:focus{
	box-shadow: 0px 0px 8px 3px #073961;
}

.results{
	display: flex;
	flex-wrap: wrap;
}

.results .result{
 width: 33%;
 min-width: 250px;
 padding: 15px;
 display: flex;
 flex-direction: column;
 cursor: pointer;
}

.results .result img{
	display: block;
	width: 100%;
}

.results .result h3{
	color: #000000;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	background:  #547288;
}

.results .result:hover h3{
	background: #547288;
	color: #701313;
}

.movieup{
position: fixed;
top:0;
left: 0;
width: 100vw;
height: 100vh;
background-color: #23496b;
overflow-y: scroll;
}

.movieup .content{
display: block;
width: 100%;
max-width: 960px;
margin: 0 auto;
padding: 25px;
color: #0e0e0e;
}

.movieup .content h2 span{
	font-weight: 300;
	font-size: 20px;
}

.movieup .content .rating{
	margin-bottom: 30px;
}

.movieup .content .plot{
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px 30px;
}

.movieup .content .plot img{
	flex: 1 1 50%;
	max-width: 300px;
	padding: 0px 15px;
}

.movieup .content .plot p{
	flex: 1 1 50%;
	padding: 15px;
}

.movieup .content .close{
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: 700;
	background: #547288;
	color: #050606;
	border-radius: 8px;
	border: none;
	outline: none;
	appearance: none;
	cursor: pointer;
}

.movieup .content .close:hover{
	background: #62b3f5;
}





